<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Record Management</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Student Record Management</h1>

      <form id="student-form" class="form">
        <input
          type="text"
          id="name"
          class="input"
          placeholder="Name"
          required
        />
        <input
          type="number"
          id="age"
          class="input"
          placeholder="Age"
          required
        />
        <input
          type="text"
          id="grade"
          class="input"
          placeholder="Grade"
          required
        />
        <button type="submit" class="btn btn-primary">Add Student</button>
      </form>
      <div style="display: flex; align-items: center; justify-content: center">
        <button
          id="refresh-btn"
          class="btn btn-primary"
          style="margin: 0 auto; margin-bottom: 2rem"
        >
          Refresh Table
        </button>
      </div>

      <div class="table-wrapper">
        <table id="student-table" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Grade</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
